
.homepage-content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.paragraph{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    text-align: center;
}

.start-button{
    background-color: #d2e3ff; 
    border: black;
    padding: 6px 12px; 
    font-size: 20px; 
    border-radius: 6px;  
}

body{
    background: no-repeat url("images/background.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;  
}

.driver-type{
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}

.driver-options{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.driver-option{
    background-color: #d2e3ff; 
    border: black;
    padding: 1.5% 3%; 
    font-size: 25px; 
    border-radius: 6px;  
    width: 30vw;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}

.question{
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.question-index{
    background-color: rgb(223, 217, 217);
    padding: 12px 20px; 
    border-radius: 8px;
    width: fit-content;
}

.option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

.button {
    background-color: #d2e3ff; 
    border: black;
    padding: 6px 12px; 
    font-size: 20px; 
    border-radius: 6px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    margin-bottom: 15vh;
}

.end-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    margin-top: 20vh;
}

form{
    width: max-content;
}
